<!-- Init Customization homepage (index.md) and chisiamo (chisiamo.md)-->
{% if page.homepage %}
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_logo1 }}') no-repeat 50% 50%, url('{{ page.hero_image }}') no-repeat center center; background-size: auto 70%, cover;" {% endif %}>
{% elsif page.chisiamo %}
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_logo1 }}') no-repeat 60% 50%, url('{{ page.hero_image }}') no-repeat center center; background-size: auto 60%, cover;" {% endif %}>
{% elsif page.url contains "blog/page" %}
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('../{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
{% else %}
<!-- Original Code (All other pages) -->
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
{% endif %}
<!-- End customization -->
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <h1 class="title is-2">{{ page.title }}</h1>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>

    </div>
</section>
