{% if page.showcase %}
    {% assign showcase = site.data.[page.showcase] %}

    {% for item in showcase %}
      {% if item.intro %}
      <div class="content">
        <p>{{ item.intro | markdownify }}</p>
      </div>
      {% endif %}
      <div class="content">
          <p>{{ item.year | markdownify }}</p>
      </div>
    <!-- {% for item in item.customers %}
    <div>
    <p class="title">{{ item.title }}</p>
    <p class="subtitle">{{ item.subtitle }}</p>
      <div class="content">
        <p>{{ item.description | markdownify }}</p>
      </div>
    {% endfor %} -->
    <div class="columns is-desktop is-multiline">

    {% for item in item.customers %}
      <div class="column is-half showcase">
        <figure class="image {% if item.image_ratio %} {{ item.image_ratio }} {% else %} is-portfolio {% endif %}">
          <img src="{{ item.image | relative_url }}" />
      </figure>
        <p class="title">{{ item.title }}</p>
        <!-- <p class="subtitle">{{ item.subtitle }}</p> -->
          <!-- <div class="content"> -->
            <p>{{ item.description | markdownify }}</p>
          <!-- </div> -->
      <!-- </div> -->
      </div>
      <!-- </section> -->
    {% endfor %}

  </div>
  {% endfor %}
{% endif %}
