
/* Portfolio edit */
.is-portfolio {
  width: 60%;
  /* height: 10%; */
  margin-left: auto;
  margin-right: auto;
}


.gap {
  /* margin: 10 0%; */
  /* width: 10%; */
}

.partners {
  /* width: 200px; */
  height: 75px;
  /* width: max-width !important; */
  object-fit: contain;
}

.corsi {
  /* width: 100px; */
  height: 75px;
  object-fit: contain;
}

.footer-text {
  text-align: left;
  color: #FFFFFF;
}

details summary::-webkit-details-marker {
  position: absolute;
  left: 0;
  top: 42%;
}

/* details {
  min-width: fit-content;
  cursor: pointer;
  margin: 10vh 4px -5px 0;
  padding: 0 0 0 10px;
} */

summary {
  position: relative;
  /* min-width: fit-content; */
  padding: 2vh;
  /* outline: 0.5px ridge grey; */
}

.soluzioni-reply {
  padding-left: 1%;
}

.soluzioni-description {
  padding-left: 3%;
}

/* NavBar Color Customization */
.navbar-logos img {
  max-height: 2.6rem !important;
}

/* .navbar-bg {
  background-color: #363636 !important;
}

a.navbar-item:hover {
  background-color: #7a7a7a94 !important;
}

.navbar-link:hover {
  background-color: #7a7a7a94 !important;
}

.navbar-item.is-active {
  background-color: #7a7a7a94 !important;
}

.navbar-item.is-primary {
  background-color: #7a7a7a94 !important;
} */


/* End NavBar Color Customization */

/* Footer Customization */

.products {
  width: max-width;
}

.footer {
  background-color: #363636 !important;
  color: #FFFFFF;
}

.herologo {
  display: inline-block !important;
  /* margin-right: 1000px; */
  /* margin-left: 200px; */
  right: 0;
  position: absolute;
}

.herocontainer {
  text-align: right;
}

.heroimages {
  display: inline-block !important;
  margin: 5px 20px;
  padding: 5px;
}

.custom-size-home-callout {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.showcase-span {
  vertical-align: : bottom;
}

/* BE Link Colors: Green, Orange onmouseover */
.be-link-colors {
  color: #8ad130 !important;
}

.be-link-colors:hover {
  color: #f4660f !important;
}

.pagination-be-link-colors {
  color: #8ad130 !important;
}

.pagination-be-link-colors:hover {
  color: #f4460f !important;
}

.pagination-be-link-colors.is-current {
  background-color: #8ad130 !important;
  color: #ffffff !important;
  border-color: #8ad130 !important;
}
/* end BE link colors */
