
/* Portfolio edit */
.is-portfolio {
  width: 60%;
  /* height: 10%; */
  margin-left: auto;
  margin-right: auto;
}


.gap {
  /* margin: 10 0%; */
  /* width: 10%; */
}

.partners {
  width: 300px;
}
