---
layout: default
---

{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}
<div class="content">
    {% for item in page.questions %}
      <details>
        <!-- <summary><h2>{{ item.name }}</h2></summary> -->
        <summary><h2>{{ item.name | markdownify }}</h2></summary>
        {% if item.description %}
          <details>
            <summary><div class="soluzioni-reply">{{ item.reply | markdownify }}</div></summary>
              <div class="soluzioni-description">{{ item.description | markdownify }}</div>
          </details>
        {% else %}
          <div class="soluzioni-reply">{{ item.reply | markdownify }}</div>
        {% endif %}
      </details>
    {% endfor %}
</div>
